@using Microsoft.DotNet.Interactive.CSharp
@using Microsoft.DotNet.Interactive.Commands
@using Microsoft.DotNet.Interactive
@using Microsoft.DotNet.Interactive.Events
@using System.Threading

<div class="cell">
    <Toolbar RunCellCallback="@RunCell"/>
    <Input @bind-Code="input"/>
    <Output @bind-OutputContent="@output"/>
</div>

@code {
    [Parameter]
    public CompositeKernel Kernel { get; set; }

    private string input = "";
    private string output =  "";
    private async Task RunCell()
    {
        Console.WriteLine(input);
        var result = await Kernel.SendAsync(new SubmitCode(input), new CancellationToken());
        result.KernelEvents.Subscribe(x => { 
            if (x is DisplayEvent) {

            
            Console.WriteLine(x);
            output += "\n" + ((DisplayEvent)x).Value; 
            }
        });
    }
}