@page "/"
@page "/notebook/{Id}"

<div class="page">
    <MainToolbar />
    <Cells @key="@NotebookId" NotebookId="@NotebookId" />
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public string NotebookId => Id ?? "_default_notebook";
}
