.code-cell {
    margin: 10px;
    border: 1px solid #bfbfbf;
}

.top {
    display: flex;
}

textarea {
    flex-grow: 1;
    border: 0;
    outline: 0;
    font-family: monospace;
    min-height: 150px;
}

::deep .editor {
    flex-grow: 1;
    border: none;
    margin: 0;
    min-height: 150px;
}

.output {
    background-color: #eee;
    min-height: 20px;
    transition: filter 0.5s ease-in-out;
}
    .output > ::deep div {
        padding: 10px;
        animation-name: yellowfade;
        animation-duration: 1s;
        background-color: var(--bgcol);
    }

@keyframes yellowfade {
    from {
        background-color: #f5ea7f;
    }

    to {
        background-color: var(--bgcol);
    }
}

.loading {
    filter: brightness(0.5);
}

.toolbar {
    flex-grow: 0;
    padding: 0 10px;
}

button {
    border: none;
    background: white;
}

    button:hover {
        color: #19b5fe;
    }
