@inject HttpClient Http

<div class="file">
    <span>@Cell.Content</span>:
    
    <em>[TODO: Accept file data]</em>

    <div>@status</div>
</div>

@code {
    [Parameter]
    public blazoract.Shared.Cell Cell { get; set; }

    private string status = null;
}
