button {
    color: #bfbfbf;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    padding: 0 4px;
    
}

button:hover svg {
    transform: scale(1.4);
}

.new-cell-toolbar {
    text-align: center;
}