.main-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5em 1.2em;
    background-color: #e8e8e8;
    align-items: center;
}

h2 {
    margin: 0;    
}

.right {
    float: right;
}

button {
    background: #bfbfbf;
    border: none;
    text-decoration: none;
    color: black;
    padding: 0 12px;
}

button:hover {
    background-color: #19b5fe;
    color: white;
    font-weight: bold;
}

a {
    color: #19b5fe;
}
