@using System.Collections
<div class="scroller">
    <table>
        <tbody>
            <Virtualize Items="Data" Context="entry">
                <tr @key="entry">
                    @if (entry is Array row) // 2D array
                    {
                        foreach (var cell in row)
                        {
                            <td>@cell</td>
                        }
                    }
                    else // Any other case
                    {
                        <td>@entry</td>
                    }
                </tr>
            </Virtualize>
        </tbody>
    </table>
</div>

@code {
    [Parameter] public ICollection<object> Data { get; set; }
}
