.scroller {
    max-height: 300px;
    overflow-y: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid gray;
    padding: 4px 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
