@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

#blazor-error-ui {
    display: none;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

body .table-hover tbody tr:hover {
    cursor: pointer;
    background-color: #fea;
}
