@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

#blazor-error-ui {
    display: none;
}