@inject NotebookService content
@implements IDisposable

<div class="cells">
    @if (notebook != null && notebook.Cells != null)
    {
        foreach (var cell in notebook.Cells)
        {
            if (cell.Type == CellType.Code)
            {
                <CodeCell cell="@cell" onChange="SaveNotebook" />
            }
            else
            {
                <TextCell cell="@cell" />
            }

            <NewCell Position="@cell.Position" NotebookId="@NotebookId" />
        }
    }
</div>

@code {
    [Parameter]
    public string NotebookId { get; set; }
    private Notebook notebook;

    protected override async Task OnInitializedAsync()
    {
        notebook = await content.GetById(NotebookId);
        content.OnChange += StateHasChanged;
    }

    private async Task SaveNotebook()
    {
        notebook = await content.GetById(NotebookId);
        await content.Save(notebook);
    }

    void IDisposable.Dispose()
    {
        content.OnChange -= StateHasChanged;
    }
}
