.code-cell {
    margin: 10px;
    border: 1px solid #bfbfbf;
}

.top {
    display: flex;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 0;
    outline: 0;
    font-family: monospace;
}

::deep .editor {
    flex-grow: 1;
    border: none;
    margin: 0;
    min-height: 150px;
}

.output {
    padding: 10px;
    background-color: #eee;
}

    .output.command-failed {
        background-color: red;
        color: white;
        white-space: pre;
        font-family: monospace;
    }

.toolbar {
    flex-grow: 0;
    padding: 0 10px;
}

button {
    border: none;
    background: white;
}

    button:hover {
        color: #19b5fe;
    }
