@using System.Net.Http
@using MonacoRazor

@inject HttpClient Http

<div class="code-cell">
    <div class="toolbar">
        <button @onclick="RunCell">
            &#x25BA;
        </button>
    </div>
    <CodeEditor @bind-Code="cell.Content" OnCompletionsRequested="GetCompletionsAsync" />
    <div class="break" />
    <div class="output">
        @result.Output
    </div>
</div>

@code {
    [Parameter]
    public Cell cell { get; set; }

    private ExecuteResult result = new ExecuteResult();

    private async Task RunCell()
    {
        var request = new ExecuteRequest(cell.Content);
        var response = await Http.PostAsJsonAsync("run/evaluatecell", request);
        result = await response.Content.ReadFromJsonAsync<ExecuteResult>();
    }

    private async Task<Suggestion[]> GetCompletionsAsync(string value, Position position)
    {
        var response = await Http.PostAsJsonAsync("run/getcompletions", new GetCompletionsRequest
        {
            Code = value,
            Column = position.Column,
            LineNumber = position.LineNumber
        });

        return await response.Content.ReadFromJsonAsync<Suggestion[]>();
    }
}