.code-cell {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    margin: 10px;
}

.break {
    flex-basis: 100%;
    height: 0;
}

input {
    flex-grow: 1;
    padding:10px;
    border:0;
    outline: 0;
    font-family: monospace;
}

.output {
    width: 100%;
    padding: 10px;
}

.toolbar {
    flex-grow: 0;
    padding: 10px;
}

button {
    border: none;
    background: white;
}

button:hover {
    color: #19b5fe;
}