@inject NotebookService content
@inject NavigationManager navigation

<div class="main-toolbar">
    <h2>blazoract</h2>
    @if (!string.IsNullOrEmpty(notebookId))
    {
        <NotebookName />
    }
    <div class="right">
        <a @onclick="NewNotebook">New</a>
        <a>Save</a>
        <a href="/notebooks">View All</a>
    </div>
</div>
@code {
    [CascadingParameter]
    RouteData RouteData { get; set; }

    private string notebookId;

    protected override void OnParametersSet()
    {
        if (RouteData.RouteValues.TryGetValue("NotebookId", out var _notebookId))
        {
            notebookId = _notebookId.ToString();
        }
    }
    private async Task NewNotebook()
    {
        var id = await content.CreateNewNotebook();
        navigation.NavigateTo($"/notebook/{id}");
    }
}