@inject NotebookService content
@inject NavigationManager navigation

<div class="main-toolbar">
    <h2>blazoract</h2>
    @if (!string.IsNullOrEmpty(notebookId))
    {
        <NotebookName NotebookId="@notebookId" />
    }
    <div class="right">
        <button @onclick="NewNotebook">New</button>
        <button @onclick="SaveNotebook">Save</button>
        <button @onclick="GoToNotebooks">View All</button>
    </div>
</div>

@code {
    [CascadingParameter]
    RouteData RouteData { get; set; }

    private string notebookId;

    protected override void OnParametersSet()
    {
        if (RouteData.RouteValues.TryGetValue("NotebookId", out var _notebookId))
        {
            notebookId = _notebookId.ToString();
        }
    }

    private async Task NewNotebook()
    {
        var id = await content.CreateNewNotebook();
        navigation.NavigateTo($"/notebook/{id}");
    }

    private async Task SaveNotebook()
    {
        if (notebookId != null)
        {
            var notebook = await content.GetById(notebookId);
            await content.Save(notebook);
        }
    }

    private void GoToNotebooks()
    {
        navigation.NavigateTo("/notebooks");
    }
}
