@inject ILocalStorageService storage
@inject NotebookService content
@inject NavigationManager navigation

<div class="main-toolbar">
    <NotebookName />
    <button @onclick="NewNotebook">New</button>
    <button>Save</button>
    <button>View All</button>
</div>
@code {
    private async Task NewNotebook()
    {
        var id = await content.CreateNewNotebook();
        navigation.NavigateTo($"/notebook/{id}");
    }

    private async Task SaveNotebook()
    {
        await storage.SetItemAsync("notebook", "foo");
    }

    private void PrintNoteook()
    {
        navigation.NavigateTo("/notebooks");
    }
}