@inject ILocalStorageService storage
@inject NotebookService content
@inject NavigationManager navigation

<div class="main-toolbar">
    <h2>blazoract</h2>
    <NotebookName />
    <div class="right">
        <a @onclick="NewNotebook">New</a>
        <a>Save</a>
        <a href="/notebooks">View All</a>
    </div>
</div>
@code {
    private async Task NewNotebook()
    {
        var id = await content.CreateNewNotebook();
        navigation.NavigateTo($"/notebook/{id}");
    }
}