@inject ContentService content

<div class="new-cell-toolbar">
    <button @onclick="AddCodeCell">Add Code Cell</button>
    <button @onclick="AddTextCell">Add Text Cell</button>
</div>

@code {
    [Parameter]
    public int Position { get; set; }

    [Parameter]
    public string NotebookId { get; set; }

    public async Task AddCodeCell()
    {
        Console.WriteLine("AddCodeCell");
        await content.AddCell(NotebookId, "", CellType.Code, Position + 1);
    }

    public async Task AddTextCell()
    {
        Console.WriteLine("AddTextCell");
        await content.AddCell(NotebookId, "Add text here...", CellType.Text, Position + 1);
    }
}