@inject ContentService content

<div class="new-cell-toolbar">
    <button @onclick="AddCodeCell">Add Code Cell</button>
    <button @onclick="AddTextCell">Add Text Cell</button>
</div>

@code {
    [Parameter]
    public int Position { get; set; }

    public void AddCodeCell()
    {
        Console.WriteLine("AddCodeCell");
        content.AddCell("", CellType.Code, Position + 1);
    }
    

    public void AddTextCell()
    {
        Console.WriteLine("AddTextCell");
        var list = content.AddCell("Add text here...", CellType.Text, Position + 1);
        Console.WriteLine(list.Count);
    }
}