<div contenteditable="true" class="cell">
    @if (cell != null)
    {
        @cell.Content
    } else {
        <p class="placeholder">Enter your text here...</p>
    }
</div>

@code {
    [Parameter]
    public Cell cell { get; set; }
}